/*                   */
/* CUSTOM PROPERTIES */
/*                   */

:root {
    /* Colors */
    --clr-cyan: 193, 38%, 86%;
    --clr-green: 150, 100%, 66%;
    --clr-grayblue: 217, 19%, 38%;
    --clr-darkgrayblue: 217, 19%, 24%;
    --clr-darkblue: 18, 23%, 16%;

    /* Fonts-sizes */
    --fs-400: 1rem;
    --fs-600: 1.75rem;

    /* Font family */
    --ff-manrope: 'Manrope', sans-serif;
    
    /* Font Weight  */
    --fw-bold: 800


}

/*                   */
/* RESET AND SET UP  */
/*                   */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

button {
    padding: 0;
    border: 0;
}

/* set up the body */

body {
    font-family: var(--ff-manrope);
    font-size: var(--fs-400);
    color: hsl(var(--clr-green));
    background-color: hsl(var(--clr-darkblue));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

/*                   */
/*  UTILITY CLASSES  */
/*                   */

.flex {
    display: flex;
    gap: var(--gap, 1rem);    

}

.flow > * {
    margin-top: var(--flow-space, 1rem);    
}




.grid {
    display: grid;
    gap: var(--flow-space, 1rem)
}

.container {
    padding-inline: clamp(2rem, 7vw, 3rem) ;
    max-width: 34rem;
    margin-inline: auto;
    text-align: center;
}

.flow-space--big {
    --flow-space: 2rem
}

.relative {
    position: relative;
}

/* colors */
.bg-darkblue {background-color: hsl(var(--clr-darkblue));}
.bg-darkgreyblue { background-color: hsl(var(--clr-darkgrayblue));}
.bg-green{background-color: hsl(var(--clr-green));}

.text-green {color: hsl(var(--clr-green));}
.text-light { color: hsl(var(--clr-cyan));}

/* typography */

.ff-serif { font-family: var(--ff-manrope); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 

.uppercase { text-transform: uppercase; }

.fs-600 { font-size: var(--fs-600); }
.fs-400 { font-size: var(--fs-400); }

.fw-b {font-weight: var(--fw-bold);}

/*                   */
/*  COMPONENTS       */
/*                   */

.container--advice {
    max-width: 34rem;
    border-radius: 2rem;
}

.circle-dice {
    position: absolute;
    background-color: hsl(var(--clr-green));
    aspect-ratio: 1;
    display: inline-grid;
    border-radius: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(50%);
    margin: 0;      

}

.circle-dice > img{
    padding: 1.5rem;   
}

picture {
    padding-bottom: 5rem;    
}

picture > img{
    margin-inline: auto;  
}











